{# template inheritance #}
{% extends 'base.html.twig' %}

{# you can override the content of the title tag in base.html.twig #}
{% block title %}Question: {{ question }} {% endblock %}

{# the content of this template is put inside the body block in base.html.twig #}
{% block body %}
<h1>{{ question }}</h1>

{# run 'composer require profiler --dev' and 'composer require debug' to get access to dump() #}
{# symfony-profiler installs the profiler on the site, debug adds more stuff to it #}
{# {{dump()}} #}


<h2>Answers: {{ answers|length }}</h2>

<ul>
    {% for answer in answers %}
        <li>{{ answer }}</li>
    {% endfor %}
</ul>
{% endblock %}